:root {
    --primary-1: hsl(257, 40%, 49%);
    --primary-2: hsl(300, 69%, 71%);
    --white: hsl(0, 0%, 100%);
    --fs-body: 16px;
    --padding-body: 2.5rem 2.8125rem;
    --ff-primary: 'Poppins', sans-serif;
    --ff-secondary: 'Open Sans', sans-serif;
}

html {
    font-size: var(--fs-body);
}

html, body, main, section, article, footer, h1, h2, h3, img, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: var(--padding-body);
    font-family: var(--ff-secondary);
    font-weight: 400;
    line-height: 1.6;
    color: var(--white);
    background-color: var(--primary-1);
}

header img {
    width: 45%;
    max-width: 200px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2.5rem;
    margin: 3rem 0;
}

aside {
    margin: 1rem 0 1.5rem;
}

h1 {
    font-size: 1.5rem;
    font-family: var(--ff-primary);
    font-weight: 600;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

button {
    display: inline-block;
    width: 200px;
    padding: 0.5rem 0;
    border: none;
    outline: none;
    border-radius: 3rem;
    font-family: var(--ff-primary);
    font-weight: 400;
    color: var(--primary-1);
    background-color: var(--white);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2),
                0 6px 12px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

button:hover, button:active {
    background-color: var(--primary-2);
    color: var(--white);
}

.content > * {
    margin-top: 1.5rem;
}

.socials {
    align-self: center;
    display: flex;
    place-items: center;
    gap: 1.5rem;
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    outline: 1px solid var(--white);
    outline-offset: 3px;
    text-decoration: none;
    transition: all 200ms ease-in-out;
}

.icon {
    color: var(--white);
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.icon-facebook, .icon-twitter {
    FILL: currentColor;
}

.social:hover, .social:hover > .icon {
    outline-color: var(--primary-2);
    stroke: var(--primary-2);
    color: var(--primary-2);
}

.icon > * {
    pointer-events: none;
}

.bg-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.bg-img > img {
    object-fit: contain;
    width: 100%;
}

@media screen and (min-width: 980px) {
    body {
        padding: 4rem 5rem 0;
    }

    main {
        flex-direction: row;
        text-align: left;
        align-items: normal;
        margin-bottom: 0;
    }

    .content {
        max-width: 550px;
        margin-top: 1.5rem;
    }

    .img {
        width: 700px;
    }

    h1 {
        font-size: 2.25rem;
    }

    button {
        font-size: 1.18rem;
    }

    .socials {
        align-self: flex-end;
    }

    .social {
        width: 2rem;
        height: 2rem;
    }

    .icon {
        width: 1.5rem;
        height: 1.5rem;
    }

    footer {
        position: absolute;
        bottom: 2.8125rem;
        left: 50%;
        transform: translateX(-50%);
    }

    .bg-img > img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.attribution {
    font-size: 0.8125rem;
    text-align: center;
}

.attribution a {
    color: var(--primary-2);
}

.attribution a:hover, .attribution:active {
    color: var(--white);
}