:root {
    --primary-1: hsl(300, 43%, 22%);
    --primary-2: hsl(333, 80%, 67%);
    --neutral-1: hsl(303, 10%, 53%);
    --neutral-2: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
    --fs-body: 15px;
    --padding-body: 1.6rem;
    --ff-primary: 'League Spartan', sans-serif;
}

html {
    font-size: var(--fs-body);
}

html, body, main, section, article, footer, h1, h2, h3, img, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--padding-body);
    font-family: var(--ff-primary);
    font-weight: 500;
    line-height: 1.6;
    color: var(--neutral-1);
    background-color: var(--white);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

h1, h2 {
    font-weight: 700;
    line-height: 1.1;
    color: var(--primary-1)
}

h3 {
    font-weight: 500;
    line-height: 1.1;
    color: var(--primary-2);
}

img {
    display: inline-block;
    max-width: 100%;
    object-fit: cover;
}

.bg-pattern {
    position: absolute;
    z-index: -1;
    object-fit: contain;
}

.top {
    top: 0;
    left: 0;
}

.bottom {
    bottom: 0;
    right: 0;
}

.attribution {
    font-size: 0.825rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}