:root {
    --primary-1: hsl(300, 43%, 22%);
    --primary-2: hsl(333, 80%, 67%);
    --neutral-1: hsl(303, 10%, 53%);
    --neutral-2: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
    --fs-body: 15px;
    --padding-body: 1.6rem;
    --ff-primary: 'League Spartan', sans-serif;
}

html {
    font-size: var(--fs-body);
}

html, body, main, section, article, footer, h1, h2, h3, img, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--padding-body);
    font-family: var(--ff-primary);
    font-weight: 400;
    line-height: 1.4;
    color: var(--neutral-1);
    background-color: var(--white);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    margin: 3rem 0;
}

h1, h2 {
    font-weight: 700;
    line-height: 1.1;
    color: var(--primary-1)
}

h1 {
    line-height: 0.8;
    text-align: center;
}

h3 {
    font-weight: 400;
    line-height: 1.1;
    color: var(--primary-2);
}

img {
    display: inline-block;
    max-width: 100%;
    object-fit: cover;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}

.heading {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.title {
    font-size: 2.5rem;
}

.description {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
}

.ratings {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
    max-width: 450px;
    padding: 1rem 0;
    border-radius: 0.5rem;
    background-color: var(--neutral-2);
}

.rating__score {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.rating__description {
    font-size: 1.1rem;
}

.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.testimonial {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 350px;
    padding: 2.625rem 1.875rem 2.1rem;
    border-radius: 0.5rem;
    color: var(--white);
    background-color: var(--primary-1);
}

.testimonial-head {
    display: flex;
    gap: 1.5rem;
}

.testimonial__img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.testimonial__name {
    font-size: 1.25rem;
    color: var(--white);
}

@media screen and (min-width: 900px) {
    section {
        width: 100%;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        margin-bottom: 2rem;
    }

    .heading {
        width: 50%;
        gap: 2rem;
    }

    .title {
        font-size: 3.5rem;
    }

    .title, .description {
        text-align: left;
        max-width: 425px;
    }

    .ratings {
        align-items: center;
        width: 50%;
    }

    .rating {
        padding: 1.25rem 1rem;
    }

    .rating {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .rating:nth-of-type(2) {
        transform: translateX(3rem);
    }

    .rating:nth-of-type(3) {
        transform: translateX(6rem);
    }

    .testimonials {
        flex-direction: row;
        gap: 2rem;
    }

    .testimonial:nth-of-type(2) {
        transform: translateY(1rem);
    }

    .testimonial:nth-of-type(3) {
        transform: translateY(2rem);
    }

    .testimonial__description {
        font-size: 1.1rem;
    }

    footer {
        position: absolute;
        bottom: var(--padding-body);
    }
}

.bg-pattern {
    position: absolute;
    z-index: -1;
    object-fit: contain;
}

.top {
    top: 0;
    left: 0;
}

.bottom {
    bottom: 0;
    right: 0;
}

.attribution {
    font-size: 0.825rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}